<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#090909">
  <meta name="description" content="{{ config.description }}">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="icon" href="{{ get_url(path='favicon.svg') }}" type="image/svg+xml">
  <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>
